node_modules
cypress
wifiControl.py

.github
.babelrc
.eslintrc.json
.gitignore
.stylelintrc.json
.cypress.config.js

./backend/.env
./backend/node_modules
./backend/requests.rest
./backend/.babelrc
./backend/.eslintrc.json
./backend/diff_databases.js
./backend/./models/sqlModel.js